@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  background-color: #F8F8F8;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #007ACB;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 0px;
}
p:last-child {
  margin-bottom: 10px;
}

.headingLargeXL {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media (max-width: 480px) {
  .headingLargeXL {
    font-size: 30px;
  }
}

.headingLarge {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .headingLarge {
    font-size: 20px;
  }
}

.headingMedium {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.headingSmall {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.smallText {
  font-size: 14px;
}

.noteText {
  font-size: 13px;
}

.mainButton {
  min-width: 144px;
  padding: 6px 12px;
  background-color: #FFF;
  color: #007ACB;
  border: 1px solid #007ACB;
  border-radius: 5px;
  font-weight: 700;
  transition: 0.5s all;
  letter-spacing: 0.4px;
}
@media (max-width: 480px) {
  .mainButton {
    min-width: 115px;
  }
}
.mainButton:hover {
  background-color: #007ACB;
  color: #FFF;
}

.fillButton {
  background-color: #007ACB;
  color: #FFF;
}
.fillButton:hover {
  background-color: #FFF;
  color: #007ACB;
}

.vLine {
  border-top: 1px solid #CCC;
  margin: 30px 0px;
}

.commonSpacing {
  padding: 40px 110px;
}
@media (max-width: 480px) {
  .commonSpacing {
    padding: 30px 15px 100px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  background-color: #F2F2F2;
}
@media (max-width: 480px) {
  header {
    padding: 10px 15px;
  }
}
header .logo img {
  width: 80px;
}

.buttonGroup.flexEnd-btn {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}

.mainWrapper .alertBox {
  border-left: 3px solid #EEB603;
  padding: 20px 25px;
  background-color: #FFF;
  margin-bottom: 20px;
}
.mainWrapper .alertBox.large .largeIcon {
  position: relative;
}
.mainWrapper .alertBox.large .largeIcon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  .mainWrapper .alertBox.large .largeIcon::after {
    width: 35px;
    height: 35px;
  }
}
.mainWrapper .alertBox.large .largeIcon.location::after {
  background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17.5' cy='17.5' r='16' stroke='%23EEB603' stroke-width='3'/%3E%3Cpath d='M17 8V17.5L23.5 12.5' stroke='%23EEB603' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.mainWrapper .alertBox.large .copy {
  padding-left: 100px;
}
@media (max-width: 480px) {
  .mainWrapper .alertBox.large .copy {
    padding-left: 60px;
  }
}
.mainWrapper .alertBox .smallIcon {
  position: relative;
}
.mainWrapper .alertBox .smallIcon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  .mainWrapper .alertBox .smallIcon::after {
    width: 35px;
    height: 35px;
  }
}
.mainWrapper .alertBox .smallIcon.clock::after {
  background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17.5' cy='17.5' r='16' stroke='%23EEB603' stroke-width='3'/%3E%3Cpath d='M17 8V17.5L23.5 12.5' stroke='%23EEB603' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.mainWrapper .alertBox .copy {
  padding-left: 70px;
}
@media (max-width: 480px) {
  .mainWrapper .alertBox .copy {
    padding-left: 60px;
  }
}
.mainWrapper .alertBox .copy .smallText {
  margin-bottom: 15px;
}

.accordion {
  padding-bottom: 25px;
}
.accordion .accordion-item {
  margin-bottom: 10px;
}
.accordion .accordion-item:first-of-type {
  border-radius: 0px;
  border-top: 0;
}
.accordion .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.accordion .accordion-item:last-of-type {
  border-radius: 0px;
}
.accordion .accordion-item:last-of-type .accordion-button {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordion .accordion-item .accordion-button {
  border-top: 1px solid #eee;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 0;
  box-shadow: none;
}
@media (max-width: 480px) {
  .accordion .accordion-item .accordion-button {
    font-size: 16px;
  }
}
.accordion .accordion-item .accordion-button p {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
}
.accordion .accordion-item .accordion-button p::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='38' viewBox='0 0 28 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8333 14C19.8333 17.2229 17.2229 19.8333 14 19.8333C10.7771 19.8333 8.16667 17.2229 8.16667 14C8.16667 10.7771 10.7771 8.16667 14 8.16667C17.2229 8.16667 19.8333 10.7771 19.8333 14ZM14 11.6667C12.7094 11.6667 11.6667 12.7094 11.6667 14C11.6667 15.2906 12.7094 16.3333 14 16.3333C15.2906 16.3333 16.3333 15.2906 16.3333 14C16.3333 12.7094 15.2906 11.6667 14 11.6667ZM28 14C28 20.3729 19.4688 31.7188 15.7281 36.4C14.8312 37.5156 13.1687 37.5156 12.2719 36.4C8.46562 31.7188 0 20.3729 0 14C0 6.26792 6.26792 0 14 0C21.7292 0 28 6.26792 28 14ZM14 3.5C8.20312 3.5 3.5 8.20312 3.5 14C3.5 14.9042 3.8274 16.3042 4.61562 18.1708C5.37979 19.9792 6.46479 21.9771 7.71458 23.9969C9.78542 27.3656 12.1917 30.5594 14 32.9365C15.8083 30.5594 18.2146 27.3656 20.2854 23.9969C21.5323 21.9771 22.6187 19.9792 23.3844 18.1708C24.1719 16.3042 24.5 14.9042 24.5 14C24.5 8.20312 19.7969 3.5 14 3.5Z' fill='%23007ACB'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accordion .accordion-item .accordion-button:after {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23007ACB' height='64px' width='64px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M281.672,48.328C250.508,17.163,209.073,0,164.999,0C120.927,0,79.492,17.163,48.328,48.328 c-64.333,64.334-64.333,169.011,0,233.345C79.492,312.837,120.927,330,165,330c44.073,0,85.508-17.163,116.672-48.328 C346.005,217.339,346.005,112.661,281.672,48.328z M260.46,260.46C234.961,285.957,201.06,300,165,300 c-36.06,0-69.961-14.043-95.46-39.54c-52.636-52.637-52.636-138.282,0-190.919C95.039,44.042,128.94,30,164.999,30 c36.06,0,69.961,14.042,95.46,39.54C313.095,122.177,313.095,207.823,260.46,260.46z'%3E%3C/path%3E%3Cpath d='M254.999,150H180V75c0-8.284-6.716-15-15-15s-15,6.716-15,15v75H75c-8.284,0-15,6.716-15,15s6.716,15,15,15h75v75 c0,8.284,6.716,15,15,15s15-6.716,15-15v-75h74.999c8.284,0,15-6.716,15-15S263.284,150,254.999,150z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transition: none;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #FFF;
  color: #000;
}
.accordion .accordion-item .accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23007ACB' height='200px' width='200px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M281.633,48.328C250.469,17.163,209.034,0,164.961,0C120.888,0,79.453,17.163,48.289,48.328 c-64.333,64.334-64.333,169.011,0,233.345C79.453,312.837,120.888,330,164.962,330c44.073,0,85.507-17.163,116.671-48.328 c31.165-31.164,48.328-72.599,48.328-116.672S312.798,79.492,281.633,48.328z M260.42,260.46 C234.922,285.957,201.021,300,164.962,300c-36.06,0-69.961-14.043-95.46-39.54c-52.636-52.637-52.636-138.282,0-190.919 C95,44.042,128.901,30,164.961,30s69.961,14.042,95.459,39.54c25.498,25.499,39.541,59.4,39.541,95.46 S285.918,234.961,260.42,260.46z'%3E%3C/path%3E%3Cpath d='M254.961,150H74.962c-8.284,0-15,6.716-15,15s6.716,15,15,15h179.999c8.284,0,15-6.716,15-15S263.245,150,254.961,150z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.accordion .accordion-item .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.accordion .accordion-item .accordion-body {
  font-size: 14px;
  padding-top: 0px;
}

@media (max-width: 480px) {
  .leftSection .smallText {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .leftSection .vLine {
    display: none;
  }
}
@media (max-width: 480px) {
  .leftSection .buttonGroup {
    display: none;
  }
}

@media (max-width: 480px) {
  .rightSection .vLine {
    display: none;
  }
}
@media (max-width: 480px) {
  .rightSection .buttonGroup {
    position: fixed;
    bottom: 0px;
    z-index: 9;
    padding: 15px;
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
  }
}
@media (max-width: 480px) {
  .rightSection .buttonGroup .mainButton {
    width: 100%;
  }
}

.progressWrapper {
  padding: 20px 0px;
}
.progressWrapper .progressBar {
  border: 1px solid #eee;
  background-color: #FFF;
  border-radius: 8px;
  height: 18px;
  display: flex;
  overflow: hidden;
}
.progressWrapper .progressBar .progressBarFill {
  background-color: #007ACB;
  transition: 0.2s ease-in-out all;
}
.progressWrapper .count {
  font-size: 12px;
}

.whiteBox {
  border: 1px solid #eee;
  min-height: 200px;
  padding: 20px 30px;
  background-color: #FFF;
  margin-bottom: 30px;
}

.formGroup {
  padding-bottom: 10px;
}
.formGroup .form-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
.formGroup .form-control {
  border-radius: 4px;
  color: #F2F2F2;
  font-size: 14px;
}
.formGroup .info {
  font-size: 12px;
  padding-top: 6px;
  padding-left: 20px;
  position: relative;
}
.formGroup .info::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99992 0.333252C3.31763 0.333252 0.333252 3.31763 0.333252 6.99992C0.333252 10.6822 3.31763 13.6666 6.99992 13.6666C10.6822 13.6666 13.6666 10.6822 13.6666 6.99992C13.6666 3.31763 10.6822 0.333252 6.99992 0.333252ZM6.99992 12.4166C4.01294 12.4166 1.58325 9.98664 1.58325 6.99992C1.58325 4.0132 4.01294 1.58325 6.99992 1.58325C9.9869 1.58325 12.4166 4.0132 12.4166 6.99992C12.4166 9.98664 9.9869 12.4166 6.99992 12.4166ZM8.04159 9.08325H7.62492V6.79159C7.62492 6.44784 7.34627 6.16659 6.99992 6.16659H6.16659C5.82284 6.16659 5.54159 6.44784 5.54159 6.79159C5.54159 7.13534 5.82284 7.41659 6.16659 7.41659H6.37492V9.08325H5.95825C5.6145 9.08325 5.33325 9.3645 5.33325 9.70825C5.33325 10.052 5.6145 10.3333 5.95825 10.3333H8.04159C8.38664 10.3333 8.66659 10.0533 8.66659 9.70825C8.66659 9.3632 8.38794 9.08325 8.04159 9.08325ZM6.99992 5.33325C7.46008 5.33325 7.83325 4.96007 7.83325 4.49992C7.83325 4.03976 7.46008 3.66659 6.99992 3.66659C6.53976 3.66659 6.16659 4.03898 6.16659 4.49992C6.16659 4.96086 6.53898 5.33325 6.99992 5.33325Z' fill='%23007ACB'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
